<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threepipes.runaction"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.threepipes.runaction.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/slideAnimFullScrean" >
        </activity>
        <activity
            android:name="com.threepipes.runaction.TitleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/slideAnimFullScrean" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.threepipes.runaction.GoalActivity"
            android:label="@string/title_activity_goal"
            android:screenOrientation="portrait"
            android:theme="@style/slideAnimFullScrean" >
        </activity>
    </application>

</manifest>
